<div class="container d-flex justify-content-center">
  <div style="width: 40rem">
    <%= form_with(model: docket, local: true) do |form| %>
      <% if docket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(docket.errors.count, "error") %> prohibited this docket from being saved:</h2>

          <ul>
            <% docket.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group my-4">
        <%= form.label :equipment_no, class: "col-md-6 control-label" %>
        <div class="col-md">
          <%= form.text_field :equipment_no, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :customer_reference_no, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_field :customer_reference_no, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :berth, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_field :berth, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :size, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_field :size, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :weight, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_field :weight, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :seal_no, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_field :seal_no, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :description, class: "col-md-4 control-label" %>
        <div class="col-md">
          <%= form.text_area :description, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group my-4">
        <%= form.label :return_empty, class: "col-md control-label" %>
        <div class="col-md">
          <%= form.text_area :return_empty, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md card card-body border-primary my-4", style="width: 100%">
        <div class="form-group my-0">
          <%= form.label :deliver_to_id, class: "control-label " %>
          <div class="from-control">
            <%= form.select :deliver_to_id, [['New Address', -1]] + Address.all.collect { |a| [a.address, a.id] }, {},
              { class: 'selectpicker', id: 'deliver_picker', title: "New Address", 'data-live-search': true } %>
          </div>
        </div>
        <div class="form-group mb-4">
          <%= form.label :new_address, class: "control-label" %>
          <div>
            <%= form.text_area :new_deliver_to_address, class: 'form-control address' %>
          </div>
        </div>
      </div>

      <div class="col-md card card-body border-primary my-4", style="width: 100%">
        <div class="form-group my-0">
          <%= form.label :collect_from_id, class: "control-label " %>
          <div class="from-control">
            <%= form.select :collect_from_id, [['New Address', -1]] + Address.all.collect { |a| [a.address, a.id] }, {},
              { class: 'selectpicker', id: 'collect_picker', title: "New Address", 'data-live-search': true } %>
          </div>
        </div>
        <div class="form-group mb-4">
          <%= form.label :new_address, class: "control-label" %>
          <div>
            <%= form.text_area :new_collect_from_address, class: 'form-control address' %>
          </div>
        </div>
      </div>

      <table>
        <div class="col-md card card-body border-primary my-4">
          <div class="form-group">
            <%= form.label :hazardous_good_id, class: "control-label" %>
        <div class="from-control">
          <%= form.select :hazardous_good_id, HazardousGood.all.collect { |haz| [haz, haz.id] }, {},
            { class: 'selectpicker', title: "New Hazardous Good", 'data-live-search': true } %>
        </div>
          </div>
          <%= render partial: 'hazardous_goods/form', locals: { hazardous_good: @hazardous_good, embedded: true} %>
        </div>
      </table>

      <div class="actions btn">
        <%= form.submit 'Create', class: "button btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
