<%= form_with(model: docket, local: true) do |form| %>
  <% if docket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(docket.errors.count, "error") %> prohibited this docket from being saved:</h2>

      <ul>
        <% docket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :equipment_no, class: "col-md-6 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :equipment_no, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :customer_reference_no, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :customer_reference_no, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :berth, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :berth, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :size, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :weight, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :weight, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :seal_no, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :seal_no, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :return_empty, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_area :return_empty, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :deliver_to_id, class: "col-md-4 control-label" %>
    <div class="col-md-8 from-control">
      <%= form.select :deliver_to_id, @addresses.all.collect { |a| [a.address, a.id] }, {},
        { class: 'selectpicker', title: "New Address", 'data-live-search': true } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :collect_from_id, class: "col-md-4 control-label" %>
    <div class="col-md-8 from-control">
      <%= form.select :collect_from_id, @addresses.all.collect { |a| [a.address, a.id] }, {},
        { class: 'selectpicker', title: "New Address", 'data-live-search': true } %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :hazardous_good_id, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :hazardous_good_id, class: 'form-control' %>
    </div>
  </div>

  <div class="actions btn">
    <%= form.submit %>
  </div>
<% end %>
