<p>
  <strong>Name:</strong>
  <%= hazardous_good&.name %>
</p>

<p>
  <strong>Un number:</strong>
  <%= hazardous_good&.un_number %>
</p>

<p>
  <strong>Primary class:</strong>
  <%= hazardous_good&.primary_class %>
</p>

<p>
  <strong>Secondary class:</strong>
  <%= hazardous_good&.secondary_class %>
</p>

<p>
  <strong>Packing group:</strong>
  <%= hazardous_good&.packing_group %>
</p>

<p>
  <strong>Tunnel code:</strong>
  <%= hazardous_good&.tunnel_code %>
</p>


