<p id="notice"><%= notice %></p>

<!-- https://bootswatch.com/simplex/ -->
<div class="navbar navbar-expand-lg fixed-top navbar-yellow bg-light">
  <div class="container">
    <a href="../" class="navbar-brand">Docket</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../help/">Help</a>
        </li>
        <% if session[:user_id].present? %>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, method: 'delete', class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
      <%= button_to 'New Docket', new_docket_path, action: 'new', method: 'get', class: "btn my-2 my-sm-0 button btn btn-primary", disabled: session[:user_id].blank? %>
    </div>
  </div>
</div>

<% if session[:user_id].present? %>
<div class="container padding-hack">
  <table class="table container">
    <thead>
      <tr>
        <th>Date</th>
        <th>Equipment no</th>
        <th>Customer reference no</th>
        <th>Seal no</th>
        <th>Description</th>
        <th>Return empty</th>
        <th>Deliver to</th>
        <th>Collect from</th>
        <th>Hazardous good</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dockets.reverse.each do |docket| %>
        <tr>
          <td><%= docket.created_at.localtime.strftime("%d-%m-%Y %H:%M")%></td>
          <td><%= docket.equipment_no %></td>
          <td><%= docket.customer_reference_no %></td>
          <td><%= docket.seal_no %></td>
          <td><%= docket.description %></td>
          <td><%= docket.return_empty %></td>
          <td><%= docket.deliver_to ? (render partial: "address", locals: { address: docket.deliver_to }) : "No delivery address" %></td>
          <td><%= docket.collect_from ? (render partial: "address", locals: { address: docket.collect_from }) : "No collection address" %></td>
          <td><%= docket.hazardous_good ? docket.hazardous_good : "No hazardous" %></td>
          <td><%= link_to 'Open', docket, class: "button btn btn-primary"%></td>
          <td><%= link_to 'Delete', docket, class: "button btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="navbar navbar-bottom navbar-expand-lg navbar-light bg-light container mt-3">
    <%= link_to 'New Docket', new_docket_path, class: "button btn btn-primary" %>
  </div>
</div>
<% else %>
  <div class="container padding-hack text-center">
    <h3>Please login or create an account</h3>
    <%= button_to 'Login', login_path, class: "btn my-2  button btn btn-primary" %>
  </div>
<% end %>
