
<div class="col-6 container">
  <section class="depot_form"> 
    <p class="col-md-6 control-label">
    <strong>Name:</strong>
    <%= @user.name %>
    </p>

    <p>
    <strong>Company name:</strong>
    <%= @user.company_name %>
    </p>

    <p>
    <strong>Tagline:</strong>
    <%= @user.tagline %>
    </p>

    <p>
    <strong>Address:</strong>
    <%= @user.address %>
    </p>

    <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
    </p>

    <p>
    <strong>Email:</strong>
    <%= @user.email %>
    </p>

  </section>
</div>
